.container-header {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}

.header__contacts {
    display: flex;
    margin-left: auto;
}

.header__contacts .header__item+.header__item {
    margin-left: 50px;
}

.header__contacts .header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__link {
    font-weight: 500;
    font-size: var(--text-size);
    line-height: 1.14;
}

.header__link--mail-tel {
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 1.14;
    transition: var(--animation);

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.header__envelope {
    fill: var(--secondary-color);
    margin-right: 10px;
    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--acent-color);
    }
}

.header__envelope {
    fill: currentColor;
}

.header__smartphone {
    fill: var(--secondary-color);
    margin-right: 10px;
    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--acent-color);
    }
}

.header__smartphone {
    fill: currentColor;
}