.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/workingprocess.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-clip: border-box;
}

.hero--section {
    background-color: var(--header-footer-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 40px;
}